#content{
    display: flex;
    flex-direction: row;
    filter: blur(0px);
    

}.poster img{
    display: block;
    text-align: left;
    height: 80%;
    width: 50%;
    margin:4%;
    margin-left: 20%;
    border-radius: 2%;
    
}
.details{
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 227, 227);
    height: 66.5%;
    width: 55%;
    position: absolute;
    right: 1%;
    margin: 2%;
    padding: 2%;
    justify-content: center;
    text-align: left;
    align-items: center;

}
.eventtitle{
    width: 100%;
    height: 10%;
    font-size: 18px;
}
.description{
    
    width: 100%;
    height: 60%;
    overflow-y: scroll;
    margin: 2.50%;
    margin-top: 5.5%;
    font-size: 15px;
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 

}
#register{
    height: 7%;
    width: 60%;
    
    color: white;
    background-color: rgb(158, 2, 2);
    border: none;
    border-radius: 4px;
    transition: 0.3s;
}
#register:hover{
    border: 1px solid black;
    background-color: transparent;
    color: black;
    font-size: 15px;
    
}
#registerationform{
    
    display: none;
    position: absolute;
    flex-direction: column;
    height: 60%;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    text-align: center;
    background-color: rgb(196, 196, 196);
   
    border-radius: 20px;
    z-index: 1;
    top:100px;
    flex-direction: column;

}
.title{
    height: 5%;
    width: 80%;
    text-align: center;
    margin: 5%;
}
.formtext{
    margin: 2%;
    height: 20px;
    width: 100%;
    border: 1px solid black;
    border-radius: 1px;
    color: black;
}
.footer {
    position: relative;
    background: rgb(158, 2, 2);
    min-height: 50px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -8px;
    margin-top: 20%;
    
}
  
.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
  
.social-icon__item,
.menu__item {
    list-style: none;
}
  
.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social-icon__link:hover {
    transform: translateY(-10px);
}
  
.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}
.menu__link:hover{
      color: white;
}
  
.menu__link:hover {
    opacity: 1;
}
  
.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}
  
.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/H4HyKg0/undefined-Imgur.png");
    background-size: 1000px 100px;
}
  
.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}
  
.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}
  
.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}
  
.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}
  
@keyframes animateWaves {
    0% {
      background-position-x: 1000px;
}
    100% {
      background-positon-x: 0px;
    }
}
  
@keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
}

