body {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.caption1 {
  margin-left: 18rem;
}

.container {
  background-image: url("https://i.ibb.co/L5drCYb/white.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.girlies {
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  margin-top: 200px;
  font-size: 130px;
  color: rgb(127, 2, 2);
  border-radius: 10px;
  font-weight: 300;
}

.back {
  margin-top: 20px;
  margin-left: 20px;
  color: rgb(127, 2, 2);
}

.heading {
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
  font-weight: 700;
  padding-top: 5px;
}

.intro {
  font-family: "Cormorant", serif;
  font-size: 18px;
  font-family: 300;
  color:#fdf0d5;
  padding: 30px;
  padding-bottom: 60px;
  text-align: center;
  background-color: rgb(127, 2, 2);
}

.container2 {
  background-image: url("https://i.ibb.co/gmmdrBD/silk.jpg");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote {
  text-align: center;
  justify-items: center;
  margin: 0 auto;
  padding: 40px;
  font-weight: 600;
  color: white;
  background-color: rgb(127, 2, 2);
  font-size: 30px;
}

.social-links {
  text-align: center;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(127, 2, 2);
}

.link {
  color:white;
  padding: 50px;
}

.link:hover {
  color: #ffffff70;
}

.container3 {
  background-image: url("/backgrounds/maal.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.founders {
    display: flex;
    justify-content: center; 
    gap: 80px;
    flex-wrap: wrap; 
}

.founder {
    text-align: center;
}

.founder img {
    border-radius: 50%; 
    height: 200px;
    width: 180px; 
    margin-top: -20px; 
}

.name {
    font-weight: bold;
    margin: 10px 0 5px;
}

.designation {
    color: #666; 
    margin: 0; 
}
.caption {
  font-family: "Cormorant", serif;
  color:white;
  text-align: center;
   padding-top: 6rem;
  justify-items: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}

@media screen and (max-width: 915px) {
  .container {
    min-height: 700px;
  }
  .girlies {
    margin-left: 40px;
    font-size: 70px;
  }
  .back {
    
    margin-left: 10px;
  }

  .heading {
    margin-top: -20px;
  }
  .intro {
    font-size: 12px;
    padding: 15px;
  }
  .container2 {
    background-image: url("https://i.ibb.co/pJzNT1t/fest.jpg");
  }
  .quote {
    font-size: 15px;
    font-weight: 200;
    padding: 20px;
  }
  .container3 {
    background-image: url("/backgrounds/e3.jpg");
    opacity: 1;
  }
  .caption {
    font-size: 20px;
    color: black;
  }

  .caption1 {
    margin-left: 5rem;
  }
  
  .founder img
  {
    margin-top: 20px;
  }
}
